@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

:root{
 --background-color: #4c4b48;
 --background-color-secondairy: #797876;
    --tertairy-color: #1f1e1a;
  --gradient-main: linear-gradient(to right, var(--background-color), var(--background-color-secondairy));
  --gradient-secondary: linear-gradient(to right, var(--background-color), var(--tertairy-color));

    /*font*/
    /*colors*/
    --font-color-light: #ffff;
    /*size*/
    --font-size-h1: 2em;
    --font-size-h2: 1.5em;
    --font-size-text: 1.2em;
    /*family*/
    --font-family-normal: 'Rubik', sans-serif;
    --font-family-bold: 'Rubik', sans-serif, bold;
}

h1, h2, a{
    font-family: var(--font-family-normal);

}

h1, h2, p, a{
    font-family: var(--font-family-normal);
    color: var(--font-color-light);
}



h1 {
    font-size: var(--font-size-h1);
    --font-family-bold: 'Rubik', sans-serif, bold;
}

h2 {
    font-size: var(--font-size-h2);
    --font-family-bold: 'Rubik', sans-serif, bold;
}


p, a {
    font-size: var(--font-size-text);
}

p {
    font-family: var(--font-family-normal);
}

a {
    text-decoration: none;
    margin: 1em 0 1em 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  justify-content: center;
}



article {
  margin-top: 10em;
  background: var(--gradient-main);
  border-radius: 0.5rem;
    max-width: 60%;
}

.content-container {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
                "profile-container repo-container";
    margin: 6em;
}

.profile-container {
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(4, auto);

        grid-template-areas:
    "avatar avatar avatar"
    "name name name"
    "links-github links-linkedin links-insta"
    "bio bio bio";
    }



.avatar {
    grid-area: avatar;
}

.name{
    grid-area: name;
}

.links-github{
    grid-area: links-github;
}

.links-linkedin{
    grid-area: links-linkedin;
}

.links-insta {

    grid-area: links-insta;
}

.bio{
    grid-area: bio;
}

.profile-container img {


}





.repo-container {

}

